[submodule "docker_otel"]
	path = docker_otel
	url = https://github.com/takashiraki/docker_prometheus.git
[submodule "symfony"]
	path = symfony
	url = https://github.com/takashiraki/docker_laravel.git
